.AnaliticCard_Fields_row{
    
    display: flex;

    flex-direction: row;

    justify-content: flex-start;
    position: relative;
    height: 20%;
    border-radius: 12px;
    background: #FFF;

    /* Shadpw */
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
}
.main_container{
    width:100%;
    height:100%;
}
.AnaliticCard {
    position:relative;
    background: #1F2B33;
    width: 60%;
    height: 20rem;

    display: block;
    margin: 2em;
    border-radius: 20px 20px 20px 20px;
    max-width: 400px;
    max-height: 320px;
   
}
.AndliticCard_header{

    background: #294D66;
    border-radius: 20px 20px 0px 0px;
}
.AnaliticCard_body{

    background: #1F2B33;
    
}
.AnaliticCard_Fields{
    position: relative;

    color: white;
    margin: 2px;
}
.AnaliticCard_Fields_card{
    margin: 0px;
    float: left;
    width: auto;
}
.AnaliticCard_holder{
    width:120%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;

}
.ListOfJournals{
    background: white;
    display: flex;
    
    padding: 16px 32px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border-radius: 12px;
    background: #FFF;

    /* Shadpw */
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
}
.part_ofList{
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.50);
    
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    }
.font{
    color: #000;
    margin:0;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
@media only screen and (min-width: 450px) {
	.AnaliticCard {
		width: 50%;
        
	}
}

@media only screen and (min-width: 768px) {
	.AnaliticCard {
		width: 33.333%;
 
	}
}

@media only screen and (min-width: 1000px) {
	.AnaliticCard {
		width: 25%;

	}
}
