
.container {
    padding: 12px;
    background: red;
    width: 200px;
    height:300px;
}

.AnaliticCard {
    background: #0079CD;
    width: 20rem;
    height: 20rem;
}
.AndliticCard_header{
    background: #D9D9D9;

}
.AnaliticCard_body{
    background: #0079CD;

}
